* {
    margin: 0;
    padding: 0;
}
:root {
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    --dark-desat-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-black-blue: hsl(234, 17%, 12%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: 'Red Hat Text', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("./images/bg-stars.svg"),
                linear-gradient(hsl(234, 17%, 12%), hsl(266, 21%, 13%), hsl(273, 23%, 18%));
}


.launching {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    color: #f4f2f5;
    text-align: center;
    text-transform: uppercase;
    
}

.launching h1{
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 0.34em;
}


.cards {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
    display: flex;
    align-items: center;
    text-align: center;
}

.section {
    position: relative;
    margin: 0 17px;
    text-align: center;
}

.months {
    display: none;
}

.card {
    position: relative;
    
}

.top-card {
    height: 75px;
    width: 160px;
    background: var(--dark-desat-blue);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: radial-gradient(circle at bottom right, transparent 8px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 8px, var(--dark-desat-blue) 0) bottom left;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    margin-bottom: 0.5px;
}

.bottom-card {
    height: 75px;
    width: 160px;
    background-color: var(--dark-desat-blue);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: radial-gradient(circle at top right, transparent 8px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 8px, var(--dark-desat-blue) 0) top left;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    margin-top: 0.5px;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    font-size: 80px;
    color: var(--soft-red);
    font-weight: 700;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.top-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 75px;
    width: 160px;
    background: var(--very-dark-blue);
    opacity: 0.4;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background: radial-gradient(circle at bottom right, transparent 8px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 8px, var(--very-dark-blue) 0) bottom left;
    background-size: 60% 100%;
    background-repeat: no-repeat;
}

.card-back {
    position: absolute;
    top: 12px;
    left: 1px;
    z-index: -10;
    height: 150px;
    width: 158px;
    background-color: var(--very-dark-black-blue);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.card-type {
    text-align: center;
    font-size: 14px;
    color: var(--grayish-blue);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    margin-top: 25px;
}


.social {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
}

.social a {
    height: 24px;
    width: 24px;
    margin: 0 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.social a:hover > svg path {
    fill: var(--soft-red);
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
}


.hills {
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.hills img {
    width: 100%;
    min-width: 1440px;
    max-width: 100%;
    height: 197px;
}


.attribution {
    width: 100%;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.65px;
    color: var(--grayish-blue);
    position: absolute;
    z-index: 5;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 70%, 59%);
    text-decoration: none;
}

.attribution a:hover {
    color:hsl(281, 77%, 63%);
}



@media only screen and (max-width: 1000px) {
    .launching {
        top: 13%;
        letter-spacing: 0.30em;
    }
    .cards {
        transform: translate(-50%, -70%);
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
        -o-transform: translate(-50%, -70%);
}
    .section {
        margin: 0 14px;
    }
    .top-card {
        height: 65px;
        width: 140px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: radial-gradient(circle at bottom right, transparent 7px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 7px, var(--dark-desat-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
    }
    .bottom-card {
        height: 65px;
        width: 140px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: radial-gradient(circle at top right, transparent 7px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 7px, var(--dark-desat-blue) 0) top left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
    }
    .number {
        font-size: 65px;
    }
    .top-cover {
        height: 65px;
        width: 140px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background: radial-gradient(circle at bottom right, transparent 7px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 7px, var(--very-dark-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
    }
    .card-back {
        top: 11px;
        left: 1px;
        height: 130px;
        width: 138px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .card-type {
        font-size: 12px;
        letter-spacing: 6px;
        margin-top: 21px;
    }
    .social a {
        margin: 0 14px;
    }
}


@media only screen and (max-width: 800px) {
    .launching {
        top: 13%;
        letter-spacing: 0.30em;
    }
    .cards {
        transform: translate(-50%, -70%);
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
        -o-transform: translate(-50%, -70%);
}
    .section {
        margin: 0 12px;
    }
    .top-card {
        height: 60px;
        width: 125px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at bottom right, transparent 7px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 7px, var(--dark-desat-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .bottom-card {
        height: 65px;
        width: 125px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at top right, transparent 7px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 7px, var(--dark-desat-blue) 0) top left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .number {
        font-size: 60px;
    }
    .top-cover {
        height: 60px;
        width: 125px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at bottom right, transparent 7px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 7px, var(--very-dark-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .card-back {
        top: 10px;
        left: 0.5px;
        height: 120px;
        width: 124px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
    .card-type {
        font-size: 11px;
        letter-spacing: 4px;
        margin-top: 18px;
    }
}


@media only screen and (max-width: 600px) {
    .launching {
        top: 12%;
        letter-spacing: 0.25em;
    }
    .cards {
        transform: translate(-50%, -80%);
        -webkit-transform: translate(-50%, -80%);
        -moz-transform: translate(-50%, -80%);
        -ms-transform: translate(-50%, -80%);
        -o-transform: translate(-50%, -80%);
}
    .section {
        margin: 0 8px;
    }
    .top-card {
        height: 55px;
        width: 110px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at bottom right, transparent 6px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 6px, var(--dark-desat-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .bottom-card {
        height: 55px;
        width: 110px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at top right, transparent 6px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 6px, var(--dark-desat-blue) 0) top left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .number {
        font-size: 55px;
    }
    .top-cover {
        height: 55px;
        width: 110px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
        background: radial-gradient(circle at bottom right, transparent 6px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 6px, var(--very-dark-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .card-back {
        top: 9px;
        left: 0.5px;
        height: 110px;
        width: 109px;
        border-radius: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        -ms-border-radius: 9px;
        -o-border-radius: 9px;
}
    .card-type {
        font-size: 9px;
        letter-spacing: 4px;
        margin-top: 16px;
    }
    .social a {
        margin: 0 12px;
    }
}


@media only screen and (max-width: 500px) {
    .launching {
        top: 12%;
        letter-spacing: 0.22em;
    }
    .cards {
        transform: translate(-50%, -95%);
        -webkit-transform: translate(-50%, -95%);
        -moz-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
        -o-transform: translate(-50%, -95%);
}
    .section {
        margin: 0 5px;
    }
    .top-card {
        height: 45px;
        width: 92px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at bottom right, transparent 5px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 5px, var(--dark-desat-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .bottom-card {
        height: 45px;
        width: 92px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at top right, transparent 5px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 5px, var(--dark-desat-blue) 0) top left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .number {
        font-size: 50px;
    }
    .top-cover {
        height: 45px;
        width: 92px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at bottom right, transparent 5px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 5px, var(--very-dark-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .card-back {
        top: 8px;
        left: 0.5px;
        height: 90px;
        width: 91px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
    .card-type {
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: 14px;
    }
    .social a {
        margin: 0 12px;
    }
}


@media only screen and (max-width: 400px) {
    .launching {
        top: 11%;
        font-size: 1.35em;
        letter-spacing: 0.22em;
    }
    .cards {
        transform: translate(-50%, -100%);
        -webkit-transform: translate(-50%, -100%);
        -moz-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
        -o-transform: translate(-50%, -100%);
}
    .section {
        margin: 0 5px;
    }
    .top-card {
        height: 45px;
        width: 85px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at bottom right, transparent 5px, var(--dark-desat-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 5px, var(--dark-desat-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .bottom-card {
        height: 45px;
        width: 85px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at top right, transparent 5px, var(--dark-desat-blue) 0) top right, radial-gradient(circle at top left, transparent 5px, var(--dark-desat-blue) 0) top left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .number {
        font-size: 45px;
    }
    .top-cover {
        height: 45px;
        width: 85px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background: radial-gradient(circle at bottom right, transparent 5px, var(--very-dark-blue) 0) bottom right, radial-gradient(circle at bottom left, transparent 5px, var(--very-dark-blue) 0) bottom left;
        background-size: 60% 100%;
        background-repeat: no-repeat;
}
    .card-back {
        top: 8px;
        left: 0.5px;
        height: 90px;
        width: 84px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}
    .card-type {
        font-size: 10px;
        letter-spacing: 3px;
        margin-top: 14px;
    }
    .social a {
        margin: 0 10px;
    }
}